OPENROUTER_API_KEY=your_api_key_here
MODEL_NAME=google/gemini-3.1-flash-lite
ALLOWED_PHONE_NUMBERS=1234567890,0987654321
REDIS_URL=redis://127.0.0.1:6379
DATABASE_URL="postgresql://user:password@host:5432/dbname"
YOUTUBE_API_KEY=your_youtube_api_key_here
